/* Set color as a variable to enhance re-usability */
/* root selector, is used to reach the highest targeted level of parent by matching the document root element*/
:root {
    --primary: #a8d2ce;
    --light: #d3e8e6;
    --grey: #ccc;
  }
  
  html,
  /*Setting the Body*/
  body {
    background-color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  div.container {
    margin-left: 150px; /* Space to the left of the screen*/
    margin-right: 150px; /* Space to the right of the screen*/
    margin-top: -30px; /* Remove space from the top*/
    background-color: var(--light);
  }
  
  /* Set slight spacing to the right and left from parent div */
  article,
  section,
  footer {
    padding-right: 10px;
    padding-left: 10px;
  }
  
  /* Header */
  header {
    text-align: center;
    font-size: x-large;
    color: #fff;
  }
  
  header > img {
    width: 100%;
    height: auto;
  }
  
  /* Position Heading slightly lower in Header */
  header > h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Navigation */
  nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  /* Display navigation items side by side */
  nav > ul > li {
    display: inline;
    padding: 120px;
  }
  
  /* Style navigation links */
  nav > ul > li > a {
    color: #000;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid var(--light);
    transition: all 500ms;
    font-size: large;
  }
  
  /* Change navigation item color on hover */
  nav > ul > li > a:hover {
    border-color: #000;
  }
  
  /* Design vertical lines dividing navigation elements */
  .vertical-line {
    border-left: 1px solid #000;
  }
  
  /* Style the image */
  img {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 20px 20px 0;
  }
  
  /* Contact Form */
  form {
    border: 1px solid #000;
    padding: 20px;
  }
  
  /* Labels */
  label {
    padding: 10px 0 8px 0;
    display: inline-block; /* Push label to occupy line/row alone */
  }
  
  /* Inputs */
  input[type='text'],
  textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 3px;
  }
  
  /* Send Button */
  button {
    padding: 10px;
    border: 1px solid #000;
    background-color: var(--light);
  }
  
  /* Change button color on hover */
  button:hover {
    background-color: var(--primary);
  }
  
  /* Footer */
  footer {
    text-align: right;
    padding: 0 40px 5px 0;
  }